  <ul class="list-unstyled">
      <li class="media">
        <img class="mr-2 rounded" src="#" alt="">
        <div class="media-body">
          <div>
            <%= user.name %>
          </div>
          <div>
            <p></p>
          </div>
        </div>
      </li>
  </ul>